// @colors
// -------------------------

$color-primary = hsl(204, 94%, 40%)
$color-secondary = hsl(0, 0, 46%)
$color-success = hsl(142, 69%, 54%)
$color-warning = hsl(40, 100%, 50%)
$color-alert = hsl(8, 81%, 58%)
$color-light-gray = hsl(0, 0, 90%)
$color-medium-gray = hsl(0, 0, 78%)
$color-dark-gray = hsl(0, 0, 54%)
$color-black = hsl(0, 0, 3%)
$color-white = hsl(0, 0, 99%)

$colors = {
	primary: $color-primary,
	secondary: $color-secondary,
	success: $color-success,
	alert: $color-alert,
	warning: $color-warning
}

// @skins
// -------------------------
$skin-blue = {
	lighter-90: lighten($color-primary, 90%),
	lighter-80: lighten($color-primary, 80%),
	lighter-70: lighten($color-primary, 70%),
	lighter-60: lighten($color-primary, 60%),
	lighter-50: lighten($color-primary, 50%),
	lighter-40: lighten($color-primary, 40%),
	lighter-30: lighten($color-primary, 30%),
	lighter-20: lighten($color-primary, 20%),
	lighter-10: lighten($color-primary, 10%),
	normal: $color-primary,
	darker-10: darken($color-primary, 10%),
	darker-20: darken($color-primary, 20%),
	darker-30: darken($color-primary, 30%),
	darker-40: darken($color-primary, 40%),
	darker-50: darken($color-primary, 50%),
	darker-60: darken($color-primary, 60%),
	darker-70: darken($color-primary, 70%),
	darker-80: darken($color-primary, 80%),
	darker-90: darken($color-primary, 90%)
}
