// ------------------------------------
// Type
// ------------------------------------

// @fonts
// -------------------------
$font-stack = "Helvetica Neue", Helvetica, Arial, sans-serif
$fonts = {
	primary: "Open sans"
	secondary: "Montserrat"
	third: "Raleway"
	optional: "Source Sans Pro"
}

// @type
// -------------------------
$body-font-size = 14px
$body-line-height = 1.5
$scale-factor = 1.333
$computed-line-height = $body-line-height * $body-font-size
