// @settings
// -------------------------
$settings = {
	debug: false
	legacy-support: 'ie8'
}

// @layout
// -------------------------
$layout = {
	"cols": 12
	"gutter": 15px // 0.9375rem
	"width": 100%
	"min-width": 305px
	"max-width": 1500px // 75rem
}

$content = {
	"min-height": 500px
}

// @class_prefix
// -------------------------
$class-prefix = {
	"object": "o-"
	"component": "c-"
	"module": "m-"
	"page": "p-"
	"theme": "t-"
	"hack": "h-"
	"gui": "g-"
	"state": "s-"
	"utils": "u-"
}

// @z-index
// -------------------------
$z-index = {
	"0": 0
	"1": 1
	"2": 5
	"3": 10
	"4": 20
	"5": 40
	"6": 80
	"7": 160
	"8": 320
	"9": 640
	"10": 1280
	"11": 2560
	"12": 5120
	"13": 10240
}

// @z-items
// -------------------------
$z-items = {
	global: {
		bottom: "bottom"
		middle: "middle"
		top: "top"
	},
	bottom: {
		bottom: "bottom"
		middle: "middle"
		top: "top"
	},
	top: {
		bottom: "bottom"
		middle: "middle"
		top: "top"
	}
}

$z-map = {}

// @mediaqueries
// -------------------------
$mq = {
	"xxs": 0
	"xs": 480px
	"sm": 768px
	"md": 992px
	"lg": 1200px
	"xl": 1920px
}

// @sizes
// -------------------------
$sizes = {
	"0": 0
	"xxs": 3px
	"xs": 5px
	"sm": 10px
	"md": 20px
	"lg": 40px
	"xl": 80px
}

// @sizes
// -------------------------
$text = {
	"xxs": 10px
	"xs": 12px
	"sm": 14px
	"md": 17px
	"lg": 24px
	"xl": 36px
}

// @directions
// -------------------------
$directions = {
	"all": "a"
	"vertical": "v"
	"horizontal": "h"
	"top": "t"
	"right": "r"
	"bottom": "b"
	"left": "l"
}

$foo = {
  width: 10px,
  height: 20px,
  '&:hover': {
    padding: 0

  }
}
