doctype html
html(lang="it")
  head
    title= pageTitle
    script().
      if (foo) {
         bar(1 + 5)
      }
      print bar(5)
  body
    h1 Jade - node template engine
    .col
      p.
        Jade is a terse and simple
        templating language with a
        strong focus on performance
        and powerful features.
