
//
 |--------------------------------------------------------------------------
 | Nucleo - ACSS+BEM Agnostic Framework
 |--------------------------------------------------------------------------
 | author: @kreo
 | https://github.com/kreo
 |
//

doctype html
html(lang="it")
  head
    title= pageTitle
    
    // Styles
    // ---------------------------------------------------------
    link(href="../vendor.css", rel="stylesheet")
    link(href="../app.css", rel="stylesheet")
  
  // Body
  // ---------------------------------------------------------
  body
    .wrap
      
      header.header
        .header__bar
        .header__bar
          .brand
          nav
            ul.list
              li
                a(href="javascript:") item

              li
                a(href="javascript:") item 
              
              li
                a(href="javascript:") item       
      
      
      .hero
        .hero__content
          h1 base template
          
        .hero__background  
        
        .hero__overlay.
          asdas
          asd
          
      .content
        .content__left
          
        .content__right
        
      footer.footer
        .footer__nav
          ul.list
            li
              
        .footer__copy  
    
    // Scripts
    // ---------------------------------------------------------
    script(src="../vendor.js")    
    script(src="../app.js")      
